.inputs {
  width: 200px;
}

.result {
  text-align: center;
  height: 60px;
  line-height: 60px;
}

.spacer {
  height: 10px;
}

.chart {
  width: 500px;
  height: 500px;
  background-color: #e3e3e3 !important;
  padding: 30px 0 10px 0;
}

.plot {
  width: 560px;
  height: 560px;
  background-color: #e3e3e3 !important;
}